<%- include('../partials/header') %>
<%- include('../partials/navBar&search&connexion') %>

<section>
    <div class="container">

        <div class="floatR wid250">

            <h3 class="pad5 col-w ta-c">
                פעולות בחשבון
            </h3>

            <ul>

                <li>
                    עידכון פרטים
                </li>

                <li>
                    החלפת סיסמא
                </li>

                <li>
                    הוספת/החלפת תמונות
                </li>

                <li>
                    הגדרות (payPal)
                </li>

                <li>
                    <a href="javascript:void(0)" id="del_account" data-id="<%= idUser %>">
                        מחק חשבון
                    </a>
                </li>

            </ul>
        </div>

        <div class="floatR wid700">

            <div class="max-cont mar-auto">
                <a href="javascript:void(0);" id="add_synagogue" class="btn-box c-yw_h mar15">
                    <i class="fas fa-plus marL10"></i>
                    הוסף בית כנסת
                </a>

                <a href="javascript:void(0);" class="btn-box c-yw_h mar15 soon">
                    <i class="fas fa-plus marL10"></i>
                    הוסף בית הוראה
                </a>

                <a href="javascript:void(0);" class="btn-box c-yw_h mar15 soon">
                    <i class="fas fa-plus marL10"></i>
                    הוסף שיעורים מקוונים
                </a>
            </div>

            <div>
                <div id="synagogueList">
                    <h3 class="pad5 col-w ta-c">
                        בתי כנסת
                    </h3>

                    
                    <nav>
                        <ul class="wid100pc">
                        <% if(accountArrays.synagogue[0]) { %>
                        <% accountArrays.synagogue.forEach((item) => { %>
                            
                            <li>
                                <a href="/account/synagogue/<%= item._id %>" class="in_block allBor mar10-0 col-bl c-blu_h shad_btn">

                                    <span class="in_block wid60x60 pad5 floatR upload_img">
						                <% if(item.photo) { %>
                                        <img class="wid60x60 bor_rad5" src="/assets/img/BK/<%= item.photo %>"  alt="תמונת <%= item.name %>" />
                                        <% } %>
                                    </span>
            
                                    <span class="block mar0-10 floatR">
            
                                        <span class="block mar15-0 fs-20 bold">
                                            <%= item.name %>
                                        </span>

                                        <span class="block wid250">
                                            <%= item.street %> <%= item.streetNumber %> <%= item.city %>
                                        </span>
            
                                    </span>
            
                                    <span class="clear"></span>
                                </a>
                            </li>

                        <% }) 
                        
                    
                        } else { %>

                            <p class="ta-c">
                                הרשימה ריקה
                            </p>

                        <% } %>
                        </ul>
                    </nav>
                </div>

                <div>
                    <h3 class="pad5 col-w ta-c">
                        בתי הוראה
                    </h3>

                    <% if(accountArrays.tribunal[0]) { %>
                    <nav>
                        <ul>
                        <% accountArrays.tribunal.forEach((item) => { %>
                            
                            <li>
                                <a href="/account/synagogue/<%= item._id %>" class="in_block allBor mar10-0 col-bl c-blu_h shad_btn">

                                    <span class="in_block wid60x60 pad5 floatR upload_img">
                                        <img class="wid60x60 bor_rad5" src="assets/img/BK/<%= item.photo %>" alt="" />
                                    </span>
            
                                    <span class="block mar0-10 floatR">
            
                                        <span class="block mar15-0 fs-20 bold">
                                            <%= item.name %>
                                        </span>

                                        <span class="block wid250">
                                            <%= item.street %> <%= item.streetNumber %> <%= item.city %>
                                        </span>
            
                                    </span>
            
                                    <span class="clear"></span>
                                </a>
                            </li>

                        <% }) %>
                        </ul>
                    </nav>
                    <% } else { %>

                    <p class="ta-c">
                        הרשימה ריקה
                    </p>

                    <% } %>
                </div>

                <div>
                    <h3 class="pad5 col-w ta-c">
                        שיעורים מקוונים
                    </h3>

                    <% if(accountArrays.cours[0]) { %>
                    <nav>
                        <ul>
                        <% accountArrays.cours.forEach((item) => { %>
                            
                            <li>
                                <a href="/account/synagogue/<%= item._id %>" class="in_block allBor mar10-0 col-bl c-blu_h shad_btn">

                                    <span class="in_block wid60x60 pad5 floatR upload_img">
                                        <img class="wid60x60 bor_rad5" src="/assets/img/BK/<%= item.photo %>" alt="" />
                                    </span>
            
                                    <span class="block mar0-10 floatR">
            
                                        <span class="block mar15-0 fs-20 bold">
                                            <%= item.name %>
                                        </span>

                                        <span class="block wid250">
                                            <%= item.street %> <%= item.streetNumber %> <%= item.city %>
                                        </span>
            
                                    </span>
            
                                    <span class="clear"></span>
                                </a>
                            </li>

                        <% }) %>
                        </ul>
                    </nav>
                    <% } else { %>

                    <p class="ta-c">
                        הרשימה ריקה
                    </p>

                    <% } %>
                </div>
            </div>
        </div>

        <div class="clear"></div>

    </div>
</section>


<%- include('../partials/footer') %>