<%- include('../partials/header') %>
<%- include('../partials/panoramic') %>
<%- include('../partials/navBar&search&connexion') %>

		<!-- Result search, Pub, Halacha -->
		<section>
			<div class="container">

				<!-- Halacha -->
				<aside class="wid20pc floatR">


						<h3 class="ta-c col-w pad5  marT10 marB0">
							הלכות יומי
						</h3>

					<article class="bor-blu pad5-10 ta-j">

						<div>

							<p>
								<span class="col-gy-b bold fs-20">
									א
								</span>
								בתי כנסיות ובתי מדרשות נקראים ''מקדש מעט'', שנאמר, ואהי להם למקדש מעט-אלו בתי כנסיות ובתי מדרשות. ויש בהם קדושה. ולכן ראוי להזהר מאד בכבודם, ולנקותם היטב. ולשבת שם באימה וביראה, ולהדליק בהם נר תמיד לכבוד. 
								<span class="fs-13">
									<br>
									[ילקוט יוסף, הלכות ביהכ''נ וקרה''ת עמוד רלה].
								</span>
							</p>

							<p>
								<span class="col-gy-b bold fs-20">
									ב
								</span>
								בתי כנסיות ובתי מדרשות אין נוהגים בהם שחוק וקלות ראש, ואותם הנוהגים שם שחוק וקלות ראש עליהם נאמר, מי ביקש זאת מידכם רמוס חצרי. ואסור לדבר שיחה בטלה בבית הכנסת. וחובה קדושה להשמר ביתר שאת וביתר עוז באיסור זה, שבעוונותינו הרבים נעשה כהיתר אצל הרבה בני אדם. וחובה קדושה על שומרי משמרת הקודש להוכיח ולהזהיר בנועם על כך. ובזוהר הקדוש הפליג מאד בעונש המדבר דברים בטלים בבית הכנסת, עד שאמרו שם שאין לו חלק באל-הי ישראל. 
								<span class="fs-13">
									<br>
									[ילקוט יוסף, ספר על הלכות קריאת התורה ובית הכנסת, עמוד רלו]
								</span>
							</p>

						</div>

					</article>
				</aside>


				<!-- body -->
				<div class="list-container wid44pc mar0-30 floatR">

					<div>
						<% if (synagogues && synagogues[0]) { %>
							<nav>
								<ul class="wid100pc">
									<% synagogues.forEach((item, index) => { %>
									<li>
										<a class="in_block wid100pc allBor mar10-0 col-bl c-blu_h shad_btn" href="/synagogue/<%= item._id %>">

											<span class="in_block wid115x115 pad5 floatR upload_img">
												<% if(item.photo) { %>
													<img class="wid115x115 bor_rad5" src="/assets/img/BK/<%= item.photo %>" alt="תמונה <%= item.name %>" />
												<% } %>
											</span>

											<span class="in_block mar20-10 floatR">

												<span class="in_block fs-20 bold">
													<%= item.name %>
												</span>

												<br>

												<span class="in_block mar15-0">
													
													<span class="in_block wid260">
														<%= item.street %> <%= item.streetNumber %> <%= item.city %>
													</span>

													<span class="in_block">
														נוסח: <%= item.rite %>
													</span>

												</span>

											</span>

											<span class="clear"></span>
										</a>
									</li>
									<% }); %>
								</ul>
							</nav>
						<% } else { %>
							<p class="bold">הרשימה ריקה</p>
						<% } %>
					</div>

				</div>


				<!-- pubs -->
				<aside class="pub wid30pc floatR">

					<%- include('../partials/pub') %>

				</aside>

				<div class="clear"></div>
			</div>

		</section>

<%- include('../partials/footer') %>