<%- include('../partials/header') %>
<%- include('../partials/navBar&search&connexion') %>

<section>
    <div class="container">

        <!-- new search -->
        <aside class="wid20pc floatR">

            <h3 class="ta-c col-w pad5  marT10 marB0">
                חיפוש מתקדם
            </h3>

            <form action="/search/synagogue" method="GET" id="formSearchSynagogue"class="mar-auto ta-c">

                <div>

                    <div class="mar10">
                        <input type="text" name="name" placeholder="שם בית כנסת בעברית" value="<%= search.name %>" class="wid96pc bs" />
                    </div>

                    <div class="mar10">
                        <input type="text" name="nameEn" placeholder="שם בית כנסת באנגלית" value="<%= search.nameEn %>" class="wid96pc bs" />
                    </div>

                    <div class="mar10">
                        <input type="text" name="street" placeholder="רחוב" value="<%= search.street %>" class="wid96pc bs" />
                    </div>

                    <div class="mar10">
                        <input type="text" name="city" placeholder="עיר" value="<%= search.city %>" class="wid96pc bs" />
                    </div>

                    <div class="mar10">
                        <input type="text" name="country" placeholder="מדינה" value="<%= search.country %>" class="wid96pc bs" />
                    </div>
                    
                    <div class="mar10">
                        <input type="checkbox" name="rite" value="1" id="searchRite1" <% if (search.rite.includes('1')) { %> checked <% } %> /><label for="searchRite1" class="marL10">ע"מ</label>
                        <input type="checkbox" name="rite" value="2" id="searchRite2" <% if (search.rite.includes('2')) { %> checked <% } %> /><label for="searchRite2" class="marL10">אשכנז</label>
                        <input type="checkbox" name="rite" value="3" id="searchRite3" <% if (search.rite.includes('3')) { %> checked <% } %> /><label for="searchRite3" class="marL10">ספרד</label>
                    </div>

                    <div class="clear"></div>
                </div>

                <input type="submit" value="חפש" class="btn col-w c-yw_h ta-c pad9-40 bor_rad5" />

            </form>
        </aside>

        <!-- search results -->
        <div class="list-container wid44pc mar0-30 floatR">

            <div>
                <% if (synagogues && synagogues[0]) { %>
                    <h6 class="bold mar15 fs-20">
                        <% if (synagogues.length == 1) { %>
                            נמצאה <span class="bold fs-20 col-r">1</span> תוצאה
                        <% } else { %>
                            נמצאו <span class="bold fs-20 col-r"><%= synagogues.length %></span> תוצאות
                        <% } %>
                    </h6>

                    <nav>
                        <ul class="wid100pc">
                            <% synagogues.forEach((item, index) => { %>
                            <li>
                                <a class="in_block wid100pc allBor mar10-0 col-bl c-blu_h shad_btn" href="/synagogue/<%= item._id %>">

                                    <span class="in_block wid115x115 pad5 floatR upload_img">
                                        <% if(item.photo) { %>
                                            <img class="wid115x115 bor_rad5" src="/assets/img/BK/<%= item.photo %>" alt="תמונה <%= item.name %>" />
                                        <% } %>
                                    </span>

                                    <span class="in_block mar20-10 floatR">

                                        <span class="in_block fs-20 bold">
                                            <%= item.name %>
                                        </span>

                                        <br>

                                        <span class="in_block mar15-0">
                                            
                                            <span class="in_block wid260">
                                                <%= item.street %> <%= item.streetNumber %> <%= item.city %>
                                            </span>

                                            <span class="in_block">
                                                נוסח: <%= item.rite %>
                                            </span>

                                        </span>

                                    </span>

                                    <span class="clear"></span>
                                </a>
                            </li>
                            <% }); %>
                        </ul>
                    </nav>
                <% } else if (synagogues) { %>
                    <p class="bold">לא נמצאו תוצאות</p>
                <% } else { %>
                    <p class="bold">החיפוש ריק</p>
                <% } %>
            </div>
        </div>

        <!-- pubs -->
        <aside class="pub wid30pc floatR">

            <%- include('../partials/pub') %>

        </aside>

        <div class="clear"></div>

    </div>
</section>


<%- include('../partials/footer') %>