
<%- include('../partials/header') %>
<%- include('../partials/navBar&search&connexion') %>

<section>
    <div class="container">

        <!-- new search -->
        <aside class="wid20pc floatR">

            <h3 class="ta-c col-w pad5  marT10 marB0">
                חיפוש מתקדם
            </h3>

            <form action="/search/tefila" method="GET" id="formSearchTefila"class="mar-auto ta-c" >

                <div>

                    <div class="mar10">
                        <label for="week_days">בחר תפילות חול/שבת</label>
                        <select name="week_days" id="week_days" class="wid96pc bs" >
                            <option value="all" <% if (search.tefila == 'all' || !search.tefila) { %> selected <% } %> >הכל</option>
                            <option value="week" <% if (search.tefila == 'week' || search.tefila != 0 && search.tefila < 4) { %> selected <% } %> >חול</option>
                            <option value="shabbat" <% if (search.tefila == 'shabbat' || search.tefila > 3) { %> selected <% } %> >שבת</option>
                        </select>
                    </div>
                    
                    <div class="mar10">
                        <label for="tefila">בחר סוג תפילה</label>
                        <select name="tefila" id="tefila" class="wid96pc bs" <% if (search.tefila == 'all' || !search.tefila) { %> disabled <% } %> >
                            <% if (search.tefila == 'week' || search.tefila < 4) { %> 
                            <option value="week">הכל</option>
                            <option value="1" <% if (search.tefila == '1') { %> selected <% } %> >שחרית חול</option>
                            <option value="2" <% if (search.tefila == '2') { %> selected <% } %> >מנחה חול</option>
                            <option value="3" <% if (search.tefila == '3') { %> selected <% } %> >ערבית חול</option>
                            <% } else if (search.tefila == 'shabbat' || search.tefila > 3) { %>
                            <option value="shabbat">הכל</option>
                            <option value="4" <% if (search.tefila == '4') { %> selected <% } %> >מנחה ער"ש</option>
                            <option value="5" <% if (search.tefila == '5') { %> selected <% } %> >שחרית שבת</option>
                            <option value="6" <% if (search.tefila == '6') { %> selected <% } %> >מנחה שבת</option>
                            <option value="7" <% if (search.tefila == '7') { %> selected <% } %> >ערבית מוצ"ש</option>
                            <% } %>
                        </select>
                    </div>

                    <div class="mar10-40">
                        <label class="ta-r">ימים:</label> <br>
                        <input type="checkbox" name="day" value="1" id="searchday1" <% if (search.day && search.day.includes('1')) { %> checked <% } else if (search.tefila == 'shabbat' || search.tefila > 3) { %> disabled <% } %> /><label for="searchday1" class="marL10">א'</label>
                        <input type="checkbox" name="day" value="2" id="searchday2" <% if (search.day && search.day.includes('2')) { %> checked <% } else if (search.tefila == 'shabbat' || search.tefila > 3) { %> disabled <% } %> /><label for="searchday2" class="marL10">ב'</label>
                        <input type="checkbox" name="day" value="3" id="searchday3" <% if (search.day && search.day.includes('3')) { %> checked <% } else if (search.tefila == 'shabbat' || search.tefila > 3) { %> disabled <% } %> /><label for="searchday3" class="marL10">ג'</label>
                        <input type="checkbox" name="day" value="4" id="searchday4" <% if (search.day && search.day.includes('4')) { %> checked <% } else if (search.tefila == 'shabbat' || search.tefila > 3) { %> disabled <% } %> /><label for="searchday4" class="marL10">ד'</label>
                        <input type="checkbox" name="day" value="5" id="searchday5" <% if (search.day && search.day.includes('5')) { %> checked <% } else if (search.tefila == 'shabbat' || search.tefila > 3) { %> disabled <% } %> /><label for="searchday5" class="marL10">ה'</label>
                        <input type="checkbox" name="day" value="6" id="searchday6" <% if (search.day && search.day.includes('6')) { %> checked <% } else if (search.tefila == 'shabbat' || search.tefila > 3) { %> disabled <% } %> /><label for="searchday6" class="marL10">ו'</label>
                    </div>

                    <div class="mar10">
                        <input type="text" name="name" placeholder="שם בית כנסת בעברית" value="<%= search.name %>" class="wid96pc bs" />
                    </div>

                    <div class="mar10">
                        <input type="text" name="nameEn" placeholder="שם בית כנסת באנגלית" value="<%= search.nameEn %>" class="wid96pc bs" />
                    </div>

                    <div class="mar10">
                        <input type="text" name="street" placeholder="רחוב" value="<%= search.street %>" class="wid96pc bs" />
                    </div>

                    <div class="mar10">
                        <input type="text" name="city" placeholder="עיר" value="<%= search.city %>" id="city_search" class="wid96pc bs" />
                    </div>

                    <div class="mar10">
                        <input type="text" name="country" placeholder="מדינה" value="<%= search.country %>" class="wid96pc bs" />
                    </div>
                    
                    <div class="mar10">
                        <input type="checkbox" name="rite" value="1" id="searchRite1" <% if (search.rite.includes('1')) { %> checked <% } %> /><label for="searchRite1" class="marL10">ע"מ</label>
                        <input type="checkbox" name="rite" value="2" id="searchRite2" <% if (search.rite.includes('2')) { %> checked <% } %> /><label for="searchRite2" class="marL10">אשכנז</label>
                        <input type="checkbox" name="rite" value="3" id="searchRite3" <% if (search.rite.includes('3')) { %> checked <% } %> /><label for="searchRite3" class="marL10">ספרד</label>
                    </div>

                    <div class="clear"></div>
                </div>

                <input type="submit" value="חפש" class="btn col-w c-yw_h ta-c pad9-40 bor_rad5" />

            </form>
        </aside>

        <!-- search results -->
        <div class="wid44pc mar0-30 floatR">

            <div>
                <% if (finalTefilotArray && finalTefilotArray[0]) { %>
                    <h6 class="bold mar15 fs-20">
                        <% if (finalTefilotArray.length == 1) { %>
                            נמצאה <span class="bold fs-20 col-r">1</span> תוצאה
                        <% } else { %>
                            נמצאו <span class="bold fs-20 col-r"><%= finalTefilotArray.length %></span> תוצאות
                        <% } %>
                    </h6>

                    <% finalTefilotArray.forEach((item, index) => { %>
                        <nav>
                            <ul class="wid100pc">
                                <li>
                                    <a class="in_block wid100pc allBor mar10-0 col-bl c-blu_h shad_btn" href="/synagogue/<%= item.synagogueId %>">

                                        <span class="in_block wid115x115 pad5 floatR upload_img">
                                            <% if(item.photo) { %>
                                                <img class="wid115x115 bor_rad5" src="/assets/img/BK/<%= item.photo %>" alt="תמונה <%= item.nameSyna %>" />
                                            <% } %>
                                        </span>

                                        <span class="in_block mar20-10 floatR">

                                            <span class="in_block fs-20 bold">
                                                <%= item.nameSyna %>
                                            </span>

                                            <br>

                                            <span class="in_block mar15-0">
                                                
                                                <span class="in_block wid260">
                                                    <%= item.street %> <%= item.streetNumber %> <%= item.city %>
                                                </span>

                                                <span class="in_block">
                                                    נוסח: <%= item.rite %>
                                                </span>

                                            </span>

                                            <br>

                                            <span class="in_block col-r">
                                                <%= item.tefilaType %>: 
                                                <% if (item.hour_day_time) { %>
                                                <span class="col-gn"> ~ </span>
                                                <% } %>
                                                <%= item.hour %>
                                                <% if (item.hour_day_time) { %>
                                                    <span class="col-gn"> לפי <%= item.day_hours %> </span>
                                                <% } %>
                                            </span>

                                        </span>

                                        <span class="clear"></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    <% });
                } else if (finalTefilotArray) { %>
                    <p class="bold">לא נמצאו תוצאות</p>
                <% } else { %>
                    <p class="bold">החיפוש ריק</p>
                <% } %>
            </div>
        </div>

        <!-- pubs -->
        <aside class="wid30pc floatR">

            <%- include('../partials/pub') %>
            
        </aside>

        <div class="clear"></div>

    </div>
</section>


<%- include('../partials/footer') %>