<%- include('../partials/header') %>
<%- include('../partials/navBar&search&connexion') %>

<!-- Page synagogue -->
		<section>
			<div class="container">

				<div class="wid682 heig170 marB120 mar-auto rel">

					<div>
						<% if(synagogue.detail.panoramic) { %>
						<img src="/assets/img/panoram/<%= synagogue.detail.panoramic %>" alt="תמונת <%= synagogue.detail.name %>" class="wid682 heig170" />
						<% } %>
					</div>

					<div class="abso wid96pc bot--80 right20">

						<div class="floatR wid115x115 upload_img">
							<% if(synagogue.detail.photo) { %>
							<img src="/assets/img/BK/<%= synagogue.detail.photo %>" alt="תמונת <%= synagogue.detail.name %>" class="wid115x115 b_sh-w bor_rad5" />
							<% } %>
						</div>

						<div class="floatR marT60">
							<div class="floatR">
								<h2 class="mar10 fs-40 bold">
									<%= synagogue.detail.name %>
								</h2>

								<h2 class="mar10 fs-20 bold">
									<%= synagogue.detail.nameEn %>
								</h2>
							</div>
							
						</div>
							
						<div class="bk-rite-sm floatL marT60">

							<h4 class="mar10 fs-20">
								נוסח 
								<span class="bold fs-20">
									<%= synagogue.detail.rite %>
								</span>
							</h4>

							<p class="fs-13">
								עודכן ב: <%= synagogue.detail.lastUpdateDate %> UTC
							</p>

						</div>

						<div class="clear"></div>

					</div>

				</div>

				<!-- Menu synagogue -->
				<nav class="synagogue-header">
					<ul>
						<li class="ta-c col-w borL wid150 pad10-0 point bc-gy-l_h actif">
							לו"ז <br class="disp-b-sm" >תפילות
						</li>

						<li class="ta-c col-w borL wid150 pad10-0 point bc-gy-l_h">
							לו"ז <br class="disp-b-sm" >שיעורים
						</li>

						<li class="ta-c col-w wid150 pad10-0 point bc-gy-l_h">
							דבר תורה והודעות
						</li>
					</ul>
					<hr>
				</nav>

				<div class="synagogue-container">
					<div class="wid800 floatR">

						<!-- Times tfilot -->
						<div class="synagogue-body">

							<!-- חול -->
							<div>
								<h3 class="ta-c col-w pad5">
									תפילות חול
								</h3>

								<!-- shaharit -->								
								<nav class="mar20-0">

									<div class="floatR">

										<h4 class="wid150 mar0">
											שחרית
										</h4>

										<hr>
									
									</div>

									<% if (synagogue.data.tefilot[0][0]) { %>

									<ul class="mar0-20 pad0-10 borR-bl-3 floatR">

										<% synagogue.data.tefilot[0].forEach(item => { %>
												
										<li class="wid400 pad10-0">

											<div class="wid150 bold floatR">
												<%= item.name %>
											</div>

											<div class="wid250 floatR">

												<div class="wid60 floatR">
												<% if (item.hour_day_time) { %>
													~
												<% } %>
													<%= item.hour %>
												</div>

												<div class="wid190 floatR">
												<% if (item.hour_day_time) { %>
													לפי <span><%= item.hour_day_time %></span> <%= item.day_hours %>
												<% } %>
												</div>

												<div class="wid200 floatR">
													ימים: <span><%= item.days %></span>
												</div>

												<div class="clear"></div>
												
											</div>

											<div class="clear"></div>

										</li>

										<% }); %>
									</ul>
									<% } else { %>
										<p class="wid400 marR-20 pad0-10 borR-bl-3 floatR fs-13 ta-c">הרשימה ריקה</p>
									<% } %>

									<div class="clear"></div>

								</nav>

								<!-- minha -->
								<nav class="mar20-0">

									<div class="floatR">

										<h4 class="wid150 mar0">
											מנחה
										</h4>

										<hr>
									
									</div>

									<% if (synagogue.data.tefilot[1][0]) { %>

										<ul class="mar0-20 pad0-10 borR-bl-3 floatR">
	
											<% synagogue.data.tefilot[1].forEach(item => { %>
													
											<li class="wid400 pad10-0">

											<div class="wid150 bold floatR">
												<%= item.name %>
											</div>

											<div class="wid250 floatR">

												<div class="wid60 floatR">
												<% if (item.hour_day_time) { %>
													~
												<% } %>
													<%= item.hour %>
												</div>

												<div class="wid190 floatR">
												<% if (item.hour_day_time) { %>
													לפי <span><%= item.hour_day_time %></span> <%= item.day_hours %>
												<% } %>
												</div>

												<div class="wid200 floatR">
													ימים: <span><%= item.days %></span>
												</div>

												<div class="clear"></div>
												
											</div>

											<div class="clear"></div>

										</li>

										<% }); %>
									</ul>
									<% } else { %>
										<p class="wid400 marR-20 pad0-10 borR-bl-3 floatR fs-13 ta-c">הרשימה ריקה</p>
									<% } %>

									<div class="clear"></div>

								</nav>

								<!-- arvit -->
								<nav class="mar20-0">

									<div class="floatR">

										<h4 class="wid150 mar0">
											ערבית
										</h4>

										<hr>
									
									</div>


									<% if (synagogue.data.tefilot[2][0]) { %>

									<ul class="mar0-20 pad0-10 borR-bl-3 floatR">

										<% synagogue.data.tefilot[2].forEach(item => { %>
												
										<li class="wid400 pad10-0">

											<div class="wid150 bold floatR">
												<%= item.name %>
											</div>

											<div class="wid250 floatR">

												<div class="wid60 floatR">
												<% if (item.hour_day_time) { %>
													~
												<% } %>
													<%= item.hour %>
												</div>

												<div class="wid190 floatR">
												<% if (item.hour_day_time) { %>
													לפי <span><%= item.hour_day_time %></span> <%= item.day_hours %>
												<% } %>
												</div>

												<div class="wid200 floatR">
													ימים: <span><%= item.days %></span>
												</div>

												<div class="clear"></div>
												
											</div>

											<div class="clear"></div>

										</li>

										<% }); %>
									</ul>
									<% } else { %>
										<p class="wid400 marR-20 pad0-10 borR-bl-3 floatR fs-13 ta-c">הרשימה ריקה</p>
									<% } %>

									<div class="clear"></div>

								</nav>
							</div>


							<!-- shabbat -->
							<div>
								<h3 class="ta-c col-w pad5">
									תפילות שבת קודש
								</h3>

								<!-- minha erev shabbat -->
								<nav class="mar20-0">

									<div class="floatR">

										<h4 class="wid150 mar0">
											מנחה ער"ש
										</h4>

										<hr>
									
									</div>

									<% if (synagogue.data.tefilot[3][0]) { %>

									<ul class="mar0-20 pad0-10 borR-bl-3 floatR">
	
										<% synagogue.data.tefilot[3].forEach(item => { %>
												
										<li class="wid400 pad10-0">

											<div class="wid150 bold floatR">
												<%= item.name %>
											</div>

											<div class="wid250 floatR">

												<div class="wid60 floatR">
												<% if (item.hour_day_time) { %>
													~
												<% } %>
													<%= item.hour %>
												</div>

												<div class="wid190 floatR">
												<% if (item.hour_day_time) { %>
													לפי <span><%= item.hour_day_time %></span> <%= item.day_hours %>
												<% } %>
												</div>

												<div class="clear"></div>
												
											</div>

											<div class="clear"></div>

										</li>

										<% }); %>
									</ul>
									<% } else { %>
										<p class="wid400 marR-20 pad0-10 borR-bl-3 floatR fs-13 ta-c">הרשימה ריקה</p>
									<% } %>

									<div class="clear"></div>

								</nav>

								<!-- shaharit shabbat -->							
								<nav class="mar20-0">

									<div class="floatR">

										<h4 class="wid150 mar0">
											שחרית
										</h4>

										<hr>
									
									</div>

									<% if (synagogue.data.tefilot[4][0]) { %>

									<ul class="mar0-20 pad0-10 borR-bl-3 floatR">

										<% synagogue.data.tefilot[4].forEach(item => { %>
												
										<li class="wid400 pad10-0">

											<div class="wid150 bold floatR">
												<%= item.name %>
											</div>

											<div class="wid250 floatR">

												<div class="wid60 floatR">
												<% if (item.hour_day_time) { %>
													~
												<% } %>
													<%= item.hour %>
												</div>

												<div class="wid190 floatR">
												<% if (item.hour_day_time) { %>
													לפי <span><%= item.hour_day_time %></span> <%= item.day_hours %>
												<% } %>
												</div>

												<div class="clear"></div>
												
											</div>

											<div class="clear"></div>

										</li>

										<% }); %>
									</ul>
									<% } else { %>
										<p class="wid400 marR-20 pad0-10 borR-bl-3 floatR fs-13 ta-c">הרשימה ריקה</p>
									<% } %>

									<div class="clear"></div>

								</nav>

								<!-- minha shabbat -->
								<nav class="mar20-0">

									<div class="floatR">

										<h4 class="wid150 mar0">
											מנחה
										</h4>

										<hr>
									
									</div>

									<% if (synagogue.data.tefilot[5][0]) { %>

									<ul class="mar0-20 pad0-10 borR-bl-3 floatR">

										<% synagogue.data.tefilot[5].forEach(item => { %>
												
										<li class="wid400 pad10-0">

											<div class="wid150 bold floatR">
												<%= item.name %>
											</div>

											<div class="wid250 floatR">

												<div class="wid60 floatR">
												<% if (item.hour_day_time) { %>
													~
												<% } %>
													<%= item.hour %>
												</div>

												<div class="wid190 floatR">
												<% if (item.hour_day_time) { %>
													לפי <span><%= item.hour_day_time %></span> <%= item.day_hours %>
												<% } %>
												</div>

												<div class="clear"></div>
												
											</div>

											<div class="clear"></div>

										</li>

										<% }); %>
									</ul>
									<% } else { %>
										<p class="wid400 marR-20 pad0-10 borR-bl-3 floatR fs-13 ta-c">הרשימה ריקה</p>
									<% } %>

									<div class="clear"></div>

								</nav>

								<!-- arvit motsaei shabbat -->
								<nav class="mar20-0">

									<div class="floatR">

										<h4 class="wid150 mar0">
											ערבית מוצא"ש
										</h4>

										<hr>
									
									</div>

									<% if (synagogue.data.tefilot[6][0]) { %>

									<ul class="mar0-20 pad0-10 borR-bl-3 floatR">

										<% synagogue.data.tefilot[6].forEach(item => { %>
												
										<li class="wid400 pad10-0">

											<div class="wid150 bold floatR">
												<%= item.name %>
											</div>

											<div class="wid250 floatR">

												<div class="wid60 floatR">
												<% if (item.hour_day_time) { %>
													~
												<% } %>
													<%= item.hour %>
												</div>

												<div class="wid190 floatR">
												<% if (item.hour_day_time) { %>
													לפי <span><%= item.hour_day_time %></span> <%= item.day_hours %>
												<% } %>
												</div>

												<div class="clear"></div>
												
											</div>

											<div class="clear"></div>

										</li>

										<% }); %>
									</ul>
									<% } else { %>
										<p class="wid400 marR-20 pad0-10 borR-bl-3 floatR fs-13 ta-c">הרשימה ריקה</p>
									<% } %>

									<div class="clear"></div>

								</nav>
							</div>

							<!-- messages -->
							<div>
								<h3 class="ta-c col-w pad5">
									הערות
								</h3>

								<nav class="allBor wid600 floatL pad10">

									<ul>
										<li class="pad5 mar10-0">
											<div class="floatR bold wid100 hidden_long">
												הערה 1
											</div>

											<div class="floatR wid400 mar0-20">
												חיד יחן כעיי כעןויכ  וכען עכ כןח ןח יכןי גכש ןךוע כגדןעי כשג ןהכש עיהגי דגןיע ןכ ןיכע יוןפע ןיע ןיגכע וןגכעי ןחיגכע ףעע וי חיכך/ 
											</div>

											<div class="clear"></div>
										</li>

										<li class="pad5 mar10-0">
											<div class="floatR bold wid100 hidden_long">
												הערה 2
											</div>

											<div class="floatR wid400 mar0-20">
												חיד יחן כעיי כעןויכ  וכען עכ כןח ןח יכןי גכש ןךוע כגדןעי כשג ןהכש עיהגי דגןיע ןכ ןיכע יוןפע ןיע ןיגכע וןגכעי ןחיגכע ףעע וי חיכך/ 
											</div>

											<div class="clear"></div>
										</li>

									</ul>
								</nav>
							</div>

						</div> <!-- end section tefilot  -->

						<!-- Times shiurim -->
						<div class="synagogue-body disp-n">

						</div>

						<!-- Siha & messages -->
						<div class="synagogue-body disp-n">

							<!-- Siha -->
							<div>

								<h3 class="pad5 col-w ta-c">
									דבר תורה
								</h3>

								<article  class="wid600 mar-auto">

									<h6 class="ta-c fs-20 bold">
										כותרת
									</h6>

									<p class="ta-j lin_heigh-25">
										חיכג יגכןויפ כיןו כןויגכ כ ןוכי ןויכ ןחיגכ יךןיכג ןי'כ ןיכ ןיכ םןיג ךןחיכגך ןחי'כ ןי'כ ןי'כ ןיכ'ק ןחי ןי ןי ןחי ןךחיכ ןיע ויןוירים יען יכעןיןכ עיןי יכן גכי ןי כיי ען יןיןויגכ יכןחין כגיןחגכי גכיםויגכיכג גכי ןיגכןיגכםי םגכ כגיןיגכ יכגיןםגכ עכגויכגי םכגיןיכג יגכןגכ   יוןגכיםןו כגיםןיכג גכי כגןי גיןךי גכ יםןחיג יןגכיםןויגכ יןגכי יןיןםגכ יגכןיןםוגכ יגןכיןיגכן יכגןיןיכג יכגןחיןגכםיכג יכגןיםןיןגכ יכגןחיגכןי גכןחיגכןיםגכ 
										וםןכגופןמגכמם כגוכגוםןגכו כ כגםןוחגכם כגםןופגכ כגםן כגם כגום וכגפםןו גכםןחו גכם גכם כגםןו גכן פגו9 כג וכיג וטכג ויןח גכי לחיכג חלגכי ךלחיגכ חכגיך ליחגכ חליכגך ןילכג ןחכגי ןחיגכ ךחיגכךל חיכג חכגי חלכגיךלחיכג חיכגך חיגכחי ךלחגכיך ליחגכך חיגכלחי גכלחיךלחגכי לחגכיךלחיגכך חיגכלי ךלחגכיך ליגכך ליגכליגכלחי לחגיכ ךחלגכי ךלגכיך גיכךלחיכג ךיךלגכי גכלחי לכגחיךלגכחיךליגכ יגכלחיכגךלילגכ יכגחיךגכליגכ יגכלחיגכךליגכך יגכחגכיךלכגיליכגלכ יכגליכג יכגליכג יכגחיכגלילגכ יכגיגכלחיגכךלי כגיגכיכגלי כגילגכ לגכילגכי כגךחליגכ לחגכיכגי כגילגכיךליגכ ךליגכלילכגיגכלך יגכך לחיגכךלחי כגלחךיכגלי גכךלחיגכ חליגכך יגכךליגכ לחיגכךלחי גכחיגכי ךחכגי ךחגכיךלגכי כגלחי גכךחלי גכלחיגכ לחךיגכ חליגכ ךלגכי גכלחי גכךלחיכג יךגכלחיגכ לחיגכ לךחגכי לגכי גכליגכ לחיכגך לגכחי ןיעךח
									</p>

									<p class="ta-l lin_heigh-25 marT40">
										רב בית כנסת
										<br>
										שבת שלום
									</p>

									<a href="javascript:void(0)" class="col-w bc-gy-b bc-gy-l_h pad5 bor_rad5">
										ערוך
									</a>
								</article>
							</div>

							<!-- Messages -->
							<div class="marT60">
								<h3 class="pad5 col-w ta-c">
									הודעות
								</h3>

								<div class="wid600 mar-auto">
									<div>
										<p class="floatR bold wid150">
											הודעה 1
										</p>

										<p class="ta-j floatR wid450">
											חיגכיך יגכי ךכגחלי גכלחי גכחי גכלחי כגךלח כגךלחי כגךחי כגךלחי גכלח טוכן יחעל יעך חיע חיע חיעחליע יחע ליע עחיעל חי חיעיחע יחע יחע חיע לחיע חיע יע
										</p>

										<div class="clear"></div>
									</div>

									<div>
										<p class="floatR bold wid150">
											הודעה 2
										</p>

										<p class="ta-j floatR wid450">
											חיגכיך יגכי ךכגחלי גכלחי גכחי גכלחי כגךלח כגךלחי כגךחי כגךלחי גכלח טוכן יחעל יעך חיע חיע חיעחליע יחע ליע עחיעל חי חיעיחע יחע יחע חיע לחיע חיע יע
										</p>

										<div class="clear"></div>
									</div>

								</div>

							</div>
						</div>
					</div>

					<!-- Add to newsletter, Paypal -->
					<aside class="bkAsideBar ta-c wid260 floatL">

						<div class="newsLetter">

							<h3 class="col-w pad5 marB0">
								הרשמה לניוזלטר
							</h3>

							<div class="bor-blu pad15">

								<p>
									לקבל עדכונים מישמח לב באימיל, נא לשלוח את כתובתך כאן
								</p>

								<p class="comments col-r fs-13"></p>

								<form id="addToNewLetter_form" class="wid100pc" action="" method="POST" data-id="<%= synagogue.detail._id %>">
									<input type="email" name="email" placeholder="אימייל" /><button class="col-w c-yw_h point" type="submit"><i class="fas fa-arrow-left"></i></button>
								</form>

							</div>

						</div>

						<div class="paypal marT60">

							<h3 class="col-w pad5 marB0">
								תרומה לבית כנסת
							</h3>

							<div class="bor-blu pad15">

								<p>
								אם ברצונך לתרום לישמח לב בקלות ע"י PAYPAL
								</p>

								<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
									<input type="hidden" name="cmd" value="_donations" />
									<input type="hidden" name="business" value="<%= synagogue.detail.email %>" />
									<input type="hidden" name="currency_code" value="ILS" />
									<input type="image" src="https://www.paypalobjects.com/he_IL/IL/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="תרומה באמצעות לחצן PayPal" />
									<img alt="" border="0" src="https://www.paypal.com/he_IL/i/scr/pixel.gif" width="1" height="1" />
								</form>

							</div>

						</div>

					</aside>
				

					<div class="clear"></div>
				</div>

			</div>

			<hr class="marT40">

			<!-- Infos synagogue & map -->
			<div class="container">

				<div class="bk-infos wid800 mar-auto">
					<nav class="floatR">

						<h4 class="fs-20 bold">
							פרטי בית הכנסת <%= synagogue.detail.name %>
						</h4>

						<ul>
							<li class="mar10-0">
								<div class="floatR wid50 bold">
									כתובת:
								</div>

								<div class="floatR mar0-20">
									<%= synagogue.detail.street %> <%= synagogue.detail.streetNumber %> <%= synagogue.detail.city %>
								</div>
								
								<div class="clear"></div>
								
							</li>

							<li class="mar10-0">
								<div class="floatR wid50 bold">
									טלפון:
								</div>

								<div class="floatR mar0-20">
									<a href="tel:<%= synagogue.detail.phone %>" class="col-bl c-blu_h">
										<%= synagogue.detail.phone %>
									</a>
								</div>

								<div class="clear"></div>
								
							</li>

							<li class="mar10-0">
								<div class="floatR wid50 bold">
									אימייל:
								</div>

								<div class="floatR mar0-20">
									<a href="mailto:<%= synagogue.detail.email %>" class="col-bl c-blu_h">
										<%= synagogue.detail.email %>
									</a>
								</div>

								<div class="clear"></div>

							</li>
						</ul>

					</nav>

					<div class="map floatL">
						<iframe src="https://www.google.com/maps?q=<%= synagogue.detail.latitude %>,<%= synagogue.detail.longitude %>&amp;output=embed" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
					</div>

					<div class="clear"></div>

				</div>
			</div>

			<hr>

		</section>

<%- include('../partials/footer') %>