<!DOCTYPE html>
<html lang="he">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/assets/img/site/ShurtLogo.png" />
		<title><%= pageTitle %> - תפילה טיים</title>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css">
		<link rel="stylesheet" href="/css/style.css">
		<script src="https://kit.fontawesome.com/1406b0d971.js"></script>
        
        <link href='https://unpkg.com/@fullcalendar/core@4.4.2/main.min.css' rel='stylesheet' />  
        <link href='https://unpkg.com/@fullcalendar/daygrid@4.4.2/main.min.css' rel='stylesheet' />
        <script src='https://unpkg.com/@fullcalendar/core@4.4.2/main.min.js'></script>
        <script src='https://unpkg.com/@fullcalendar/daygrid@4.4.2/main.min.js'></script>
		<link href="/css/hebcal-styles.css" rel="stylesheet">
		<meta name="google-site-verification" content="lKR1Fibp2HpLC0hDTX8BINU7lxdvGvcBNvAHStP9JoU" />
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-0NRRBEW7YN"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-0NRRBEW7YN');
		</script>
	</head>

	<body>

		<!-- navbar up -->
		<section class="bc-gy-l">

			<nav class="container navbar-up">
				<ul>
					<li class="pad5-10 borL bor-gy lin_h">
							<%- userDiv.nav %>
					</li>

					<li class="pad5-10 borL bor-gy lin_h">
						<a class="col-gy-b" href="/calendar" target="_blank">
							<i class="fas fa-calendar-alt"></i>
							לוח שנה
						</a>
					</li>

					<li class="pad5-10 borL bor-gr col-gy-b li_form-city">
						<form id="form-city">
							<i class="fas fa-map-marker-alt"></i>
							<input id="form-dity_input" type="text" name="city" placeholder="הכנס עיר" value="<%= zmanim.week.location.city %>, <%= zmanim.week.location.country %>" data-israel="<%= zmanim.week.israel %>" />
						</form>
					</li>

					<li class="pad5-10 col-blu li_date">

						<i class="fas fa-calendar-day"></i>
						<span id="date"></span>

						<span id="heDate">
							- <script type="text/javascript" charset="utf-8" src="https://www.hebcal.com/etc/hdate-he.js"></script>
						</span>

						<i class="fas fa-clock marR-25"></i>
						<span id="time"></span>

					</li>

				</ul>

				<ul>
					<li class="col-gy-b borL bor-gy">
						<i class="fas fa-globe"></i>
					</li>
					<li class="pad5">
						<a href="/">
						<img class="icon_lang opac8_h" src="/assets/img/site/israel-flag-3d-icon-32.png" alt="Logo hebrew" title="Hebrew" />
					</a>
					</li>
					<li class="pad5">
						<a href="/en">
							<img class="icon_lang opac8_h" src="/assets/img/site/united-states-of-america-flag-3d-icon-32.png" alt="Logo english" title="English" />
						</a>
					</li>
				</ul>
			</nav>
		</section>

		<!-- Logo site & Title & Times -->
		<header>
			<div class="container">
				<div class="wid1024 mar-auto">

					<a href="/"  class="floatR">
						<img class="wid150" src="/assets/img/site/LogoSite.png" alt="Logo Tefila Time" title="Tefila Time" />
					</a>

					<div class="floatR">

						<h1>
							לוח זמני תפילות ושיעורי תורה
						</h1>

						<div class="mar0-20">
							<a href="/calendar" target="_blank" class="floatR bc-gy-b wid600 heig17 hidden_long hoursAnimate block col-w rel">
								<span class="bar_hours wid1200 abso">
									<% zmanim.week.hours.forEach((l) => { %>
										<%= l.name %>: <%= l.time %>. 
									<% }) %>
								</span>
								<span class="bar_hours wid1200 abso">
									<% zmanim.week.hours.forEach((l) => { %>
										<%= l.name %>: <%= l.time %>. 
									<% }) %>
								</span>
							</a>

						</div>

					</div>
					<div class="floatL wid100 parasha">
						<div class="bold">
							<%= zmanim.parasha%>
						</div>
						<div class="fs-13 wid100 marT10">
							<% zmanim.shabbat.hours.forEach((i) => { %>
								<div class="ta-l pad0-5">
									<span class="block floatR"><%= i.name %>:</span>
									<span class="block floatL"><%= i.time %></span>
									<div class="clear"></div>
								</div>
							<% }) %>
						</div>
					</div>
				</div>
				
				<div class="clear"></div>

			</div>
		</header>