<!-- bar menu -->
<section class="menu mar20-0">
    <nav class="container navbar-menu">
        <ul class="menu_ul">

            <li class="pad10-20 hamb col-w c-yw_h">
                <!-- <a href="" class="hamb col-w c-yw_h"> -->
                    <i class="fas fa-bars"></i>
                <!-- </a> -->
            </li>


            <li class="pad10-20 borR bor-w">
                <a href="/" class="col-w c-yw_h">
                    דף הבית
                </a>
            </li>


            <li class="pad10-20 borR bor-w menu1">

                <a href="/search/synagogue?synagogues=all" class="col-w c-yw_h">
                    <i class="fas fa-synagogue"></i>
                    בית כנסת
                </a>
                
                <div class="menu2 pad3-0">
                    <ul>

                        <li class="bc-gy-xl_h">
                            <a href="/search/synagogue?rite=1" class="pad10-20 block col-blu">
                                נוסח ע"מ
                            </a>
                        </li>

                        <li class="bc-gy-xl_h">
                            <a href="/search/synagogue?rite=2" class="pad10-20 block col-blu">
                                נוסח אשכנז
                            </a>
                        </li>

                        <li class="bc-gy-xl_h">
                            <a href="/search/synagogue?rite=3" class="pad10-20 block col-blu">
                                נוסח ספרד
                            </a>
                        </li>

                    </ul>
                </div>
            </li>


            <li class="borR bor-w menu1">

                <a href="/search/tefila?tefila=all&city=<%= zmanim.location.city %>" class="pad10-20 col-w c-yw_h">
                    <i class="fas fa-torah"></i>
                    תפילות
                </a>

                <div class="menu2 pad3-0">
                    <ul>
                        
                        <li class="bc-gy-xl_h menu2_h">
                            <a href="/search/tefila?tefila=week&city=<%= zmanim.location.city %>" class="pad10-20 block col-blu">
                                חול
                                <i class="fas fa-angle-left marR-25 floatL"></i>
                            </a>

                            <div class="menu3 pad3-0">
                                <ul>

                                    <li class="bc-gy-xl_h">
                                        <a href="/search/tefila?tefila=1&city=<%= zmanim.location.city %>" class="pad10-20 block col-blu">
                                            שחרית
                                        </a>
                                    </li>

                                    <li class="bc-gy-xl_h">
                                        <a href="/search/tefila?tefila=2&city=<%= zmanim.location.city %>" class="pad10-20 block col-blu">
                                            מנחה
                                        </a>
                                    </li>

                                    <li class="bc-gy-xl_h">
                                        <a href="/search/tefila?tefila=3&city=<%= zmanim.location.city %>" class="pad10-20 block col-blu">
                                            ערבית
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>

                        <li class="bc-gy-xl_h menu2_h">
                            <a href="/search/tefila?tefila=shabbat&city=<%= zmanim.location.city %>" class="pad10-20 block col-blu">
                                שבת
                                <i class="fas fa-angle-left marR-25 floatL"></i>
                            </a>
                            
                            <div class="menu3 pad3-0">
                                <ul>
                                    
                                    <li class="bc-gy-xl_h">
                                        <a href="/search/tefila?tefila=4&city=<%= zmanim.location.city %>" class="pad10-20 block col-blu">
                                            מנחה ער"ש
                                        </a>
                                    </li>

                                    <li class="bc-gy-xl_h">
                                        <a href="/search/tefila?tefila=5&city=<%= zmanim.location.city %>" class="pad10-20 block col-blu">
                                            שחרית
                                        </a>
                                    </li>

                                    <li class="bc-gy-xl_h">
                                        <a href="/search/tefila?tefila=6&city=<%= zmanim.location.city %>" class="pad10-20 block col-blu">
                                            מנחה
                                        </a>
                                    </li>

                                    <li class="bc-gy-xl_h">
                                        <a href="/search/tefila?tefila=7&city=<%= zmanim.location.city %>" class="pad10-20 block col-blu">
                                            ערבית מוצא"ש
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </li>



            <li class="pad10-20 borR bor-w menu1">
                <a href="javascript:void(0)" class="soon col-w c-yw_h">
                    <i class="fas fa-users"></i>
                    שיעורים
                    <span class="soon_div_parent"><span class="soon_div">בקרוב !</span></span>
                </a>

                <div class="menu2 pad3-0">
                    <ul>
                        
                        <li class="bc-gy-xl_h menu2_h">

                            <a href="javascript:void(0)" class="soon pad10-20 block col-blu">
                                גמרא
                            </a>

                        </li>

                        <li class="bc-gy-xl_h menu2_h">

                            <a href="javascript:void(0)" class="soon pad10-20 block col-blu">
                                דף יומי
                            </a>
                            
                        </li>

                        <li class="bc-gy-xl_h menu2_h">
                            <a href="javascript:void(0)" class="soon pad10-20 block col-blu">
                                הלכה
                                <i class="fas fa-angle-left marR-25 floatL"></i>
                            </a>
                            
                            <div class="menu3 pad3-0">
                                <ul>

                                    <li class="bc-gy-xl_h">
                                        <a href="javascript:void(0)" class="soon pad10-20 block col-blu">
                                            שעורים לגברים
                                        </a>
                                    </li>

                                    <li class="bc-gy-xl_h">
                                        <a href="javascript:void(0)" class="soon pad10-20 block col-blu">
                                            שיעורים לנשים
                                        </a>
                                    </li>

                                    <li class="bc-gy-xl_h">
                                        <a href="javascript:void(0)" class="soon pad10-20 block col-blu">
                                            שיעורים לגברים ונשים
                                        </a>
                                    </li>

                                    <li class="bc-gy-xl_h">
                                        <a href="javascript:void(0)" class="soon pad10-20 block col-blu">
                                            הכל
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>

                        <li class="bc-gy-xl_h menu2_h">
                            <a href="javascript:void(0)" class="soon pad10-20 block col-blu">
                                מוסר
                                <i class="fas fa-angle-left marR-25 floatL"></i>
                            </a>
                            
                            <div class="menu3 pad3-0">
                                <ul>

                                    <li class="bc-gy-xl_h">
                                        <a href="javascript:void(0)" class="soon pad10-20 block col-blu">
                                            שעורים לגברים
                                        </a>
                                    </li>

                                    <li class="bc-gy-xl_h">
                                        <a href="javascript:void(0)" class="soon pad10-20 block col-blu">
                                            שיעורים לנשים
                                        </a>
                                    </li>

                                    <li class="bc-gy-xl_h">
                                        <a href="javascript:void(0)" class="soon pad10-20 block col-blu">
                                            שיעורים לגברים ונשים
                                        </a>
                                    </li>

                                    <li class="bc-gy-xl_h">
                                        <a href="javascript:void(0)" class="soon pad10-20 block col-blu">
                                            הכל
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>

                        <li class="bc-gy-xl_h menu2_h">
                            <a href="javascript:void(0)" class="soon pad10-20 block col-blu">
                                אחר
                                <i class="fas fa-angle-left marR-25 floatL"></i>
                            </a>
                            
                            <div class="menu3 pad3-0">
                                <ul>

                                    <li class="bc-gy-xl_h">
                                        <a href="javascript:void(0)" class="soon pad10-20 block col-blu">
                                            שעורים לגברים
                                        </a>
                                    </li>

                                    <li class="bc-gy-xl_h">
                                        <a href="javascript:void(0)" class="soon pad10-20 block col-blu">
                                            שיעורים לנשים
                                        </a>
                                    </li>

                                    <li class="bc-gy-xl_h">
                                        <a href="javascript:void(0)" class="soon pad10-20 block col-blu">
                                            שיעורים לגברים ונשים
                                        </a>
                                    </li>

                                    <li class="bc-gy-xl_h">
                                        <a href="javascript:void(0)" class="soon pad10-20 block col-blu">
                                            הכל
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </li>

            <li class="pad10-20 borR bor-w menu1">
                <a href="javascript:void(0)" class="soon col-w c-yw_h">
                    <i class="fas fa-user-tie"></i>
                    רבנים
                    <span class="soon_div_parent"><span class="soon_div">בקרוב !</span></span>
                </a>
            </li>

            <li class="pad10-20 borR bor-w menu1">
                <a href="javascript:void(0)" class="soon col-w c-yw_h">
                    <i class="fab fa-youtube"></i>
                    שיעור חי
                    <span class="soon_div_parent"><span class="soon_div">בקרוב !</span></span>
                </a>
            </li>

            <li class="pad10-20 borR bor-w menu1">
                <a href="javascript:void(0)" class="soon col-w c-yw_h">
                    <i class="fas fa-balance-scale"></i>
                    בתי הלכה
                    <span class="soon_div_parent"><span class="soon_div">בקרוב !</span></span>
                </a>
            </li>

        </ul>
    </nav>
</section>

<!-- Search & Connexion -->
<section class="marB40">

    <div class="window_connexion message_close"></div>
    <div class="container">

        <form id="search_synagogue" class="floatR mar0-150" action="/search/synagogue" method="GET">
            <div>
                <i class="fa fa-search"></i>
                <input id="search_synagogue_input" name="q" type="text" class="search-control" placeholder="חפש בית כנסת" <% if (search) { %> value="<%= search.barSearch %>" <% } %> />
            </div>
        </form>

        <!-- connexion/user name -->
        <div class="floatR">
            <%- userDiv.connexion %>
        </div>

        <div class="clear"></div>

    </div>
    
    <!-- div message -->
    <div class="message message_close"></div>

</section>